/* Seteamos margenes y padding en 0 para todo desde el inicio*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Alinea el texto en el centro */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar {
    padding: 20px;
}
/********************************************/
/* Defino el estilo del Grid y sus elementos*/
/*******************************************/
/*.navbar-area {
    grid-area: navbar-area;
}
/*
.footer-area {
    grid-area: footer-area;
}

.content-area {
    grid-area: content-area;
}*/

.grid-container {
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
